.thm-footer-1
  #follow_us_widget-2.widget.widget_follow_us_widget
    .social-icon
      %ul.list-unstyled
        %li
          = link_to '#', target: :_blank do
            %i.fa.fa-facebook
        %li
          = link_to '#', target: :_blank do
            %i.fa.fa-vk
        %li
          = link_to '#', target: :_blank do
            %i.fa.fa-google-plus
        %li
          = link_to '#', target: :_blank do
            %i.fa.fa-youtube