#content.site-content.col-md-8{role: :main}
  .page-content
    = image_tag image_path('search-error.png'), alt: 'Error Search'
    %h2.search-error-title Ничего не найдено
    %p.search-error-text
      Извините, но ничего не соответствует условиям поиска.