body{
  font-family:Roboto;
  font-weight:300;
  font-style:normal;
  color:#000;
  font-size:16px;
}
#main-menu .nav>li>a, #main-menu ul.sub-menu li > a{
   font-family:Roboto;
   font-weight:100;
   font-style:normal;
   color:#fff;font-size:14px;
 }
h1{
  font-family:Roboto;
  font-weight:700;
  font-style:normal;
  color:#000;
  font-size:42px;
}
h2{
  font-family:Roboto;
  font-weight:700;
  font-style:normal;
  color:#000;
  font-size:36px;
}
h3{
  font-family:Roboto;
  font-weight:700;
  font-style:normal;
  color:#000;
  font-size:24px;
}h4{
   font-family:Roboto;
   font-weight:700;
   font-style:normal;
   color:#000;
   font-size:20px;
 }
h5{
  font-family:Roboto;
  font-weight:700;
  font-style:normal;
  color:#000;
  font-size:18px;
}
.footer-wrap-inner{
  padding-top:80px;
  padding-bottom:307px;
}
