.wpb_wrapper
  .themeum-breaking-news
    .container
      .row
        .breaking-news-title.col-md-3.col-sm-3
          %h2.title-black
            Последние новости
        - if news.present?
          #carousel-breaking-news.col-md-9.col-sm-9.carousel.slide{data: {ride: :carousel}}
            .carousel-inner
              = render partial: 'home/partials/latest_news_item', collection: news, as: :news
            .breaking-news-controller
              = link_to '#carousel-breaking-news', class: :prev, data: {slide: :prev} do
                %i.fa.fa-angle-left
              = link_to '#carousel-breaking-news', class: :next, data: {slide: :next} do
                %i.fa.fa-angle-right
    :coffeescript
      $ -> $('#carousel-breaking-news').carousel({ interval: 3000 })